
/* Your CSS Code here. */
#first{
	background-color:green;
	height:85px;
	width:85px;
}
#second{
	background-color:red;
	height:85px;
	width:85px;
}
#third{
	background-color:blue;
	height:85px;
	width:85px;
}
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
}